.mainboxes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    width: 90%;
    margin: 50px auto;
    
 }

 .mainboxes>div{
    border: 2px solid red;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 .mainboxes>div>div{
    /* margin: auto; */
    text-align: center;
    /* border: 2px solid teal; */
 }

 .btn button{
    width: 75%;
    background-color: black;
    color: white;
    text-align: center;
    margin: 5px;
    margin: 20px;
    /* border: 2px solid red; */
   
 }
  